body {background: url("2.png") 
}
 main{background-color: dimgrey;
     width: 1200px;
     height: 2400px;
     margin:0 auto;
     display: block;
 }
  nav{display: flex;
  	height: 100px;
  	background-color: #402720;
  	border-bottom-style: solid;
  	border-bottom-width: 1px;
  	border-bottom-color: white;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top: 0;
  }
  .img_nav{
    height: 100px;
    width: 500px;
    float: left;
    display: flex;
    justify-content: space-around;
  }
  .img_nav img{
    height: 100px;
  }

.nav_menu{
	background-color: #402720;
	width: 600px;
	float: right;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav_menu ul{
	list-style: none;
  margin: 0;
  padding: 0;
}
.nav_menu li{
  font-family: Times New Ro...;
  color: white;
  font-size: 18px;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  position: relative;
  padding: 0;
  margin: 0;
}
li:hover{
  background:#ff9933;
  cursor: pointer;
  color: #402720;
}


.city {
  font-family: Times New Ro...;
  color: black;
  font-size: 49px;
}
.city img {
  width: 1200px;
  height: 1000px;
}
.oper{ width: 800px;
  float: left;
}
.oper img {
  width: 800px;
  height: 600px; 
}
.text { 
  height: 600px;
  width: 400px;
  float: right;
  color: black;

}
.text2{
  height: 600px;
  width: 290px;
  float: left;
  color: black;
}
.sobor img{
  width: 810px;
  height: 600px;
  float: right;
  margin: 10px;

}